{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block title %}
    赤潮観測トップページ
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <!-- タイトルと会員登録とログイン -->
        <div class="toppage">
            <h1>赤潮観測&予測システム</h1>
        </div>
        <div class="account">
            <a href="{% url 'basicapp:sign_up' %}" class="login login--orange">会員登録</a>
            <a href="{% url 'basicapp:login' %}" class="login login--orange">ログイン</a>
        </div>
    </header>
    {% endblock %}

    {% block contents %}
    <!-- <h3>※現在の赤潮の状況</h3>
    <h3>※ここに赤潮の画像を表示する</h3> -->
    <div style="margin-top: 80px;">
        <h2>現在発生している赤潮</h2>
    </div>
    <div class="photo">
        <img src="{% static 'images/nature_umi_akashio.png' %}" alt="サンプル" width="150" height="100">
        <img src="{% static 'images/nature_umi_akashio.png' %}" alt="サンプル" width="150" height="100">
        <img src="{% static 'images/nature_umi_akashio.png' %}" alt="サンプル" width="150" height="100">
        <img src="{% static 'images/nature_umi_akashio.png' %}" alt="サンプル" width="150" height="100">
        <img src="{% static 'images/nature_umi_akashio.png' %}" alt="サンプル" width="150" height="100">
    </div>

    <div class="red-tide">
        <ul>
            <li><a href="{% url 'basicapp:redtide_prediction' %}" class="btn btn--orange">赤潮の予報を見る</a></li>
            <li><a href="{% url 'basicapp:share_place' %}" class="btn btn--orange">赤潮の情報を共有する</a></li>
            <li><a href="{% url 'basicapp:redtide_observe' %}" class="btn btn--orange">赤潮の観測を見る</a></li>
        </ul>
    </div>
</body>

</html>

{% endblock %}