{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block title %}
    赤潮観測トップページ
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <!-- タイトルと会員登録とログイン -->
        <div class="toppage">
            <h1>赤潮観測&予測システム</h1>
        </div>
        <div class="account">
            <a href="{% url 'basicapp:sign_up' %}" class="login login--orange">会員登録</a>
            <a href="{% url 'basicapp:login' %}" class="login login--orange">ログイン</a>
        </div>
    </header>
    {% endblock %}

    {% block contents %}
    <!-- <h3>※現在の赤潮の状況</h3>
    <h3>※ここに赤潮の画像を表示する</h3> -->
    <div class="photo">
        <div class="img__inner">
            <!-- <img src="{% static 'assets/img/red-tide11.png' %}" alt="" width="80%" height="550"> -->
          <img class = 'img' src="{% static 'assets/img/red-tide1.png' %}" alt="サンプル" width="150" height="100">
          <img class = 'img' src="{% static 'assets/img/red-tide2.png' %}" alt="サンプル" width="150" height="100">
          <img class = 'img' src="{% static 'assets/img/red-tide3.png' %}" alt="サンプル" width="150" height="100">
          <img class = 'img' src="{% static 'assets/img/red-tide4.png' %}" alt="サンプル" width="150" height="100">
          <!-- <h3>※仮として赤潮のイラストを表示</h3> -->
        </div>
    </div>

    <div class="red-tide" style="margin-top: 250px;">
        <ul>
            <li><a href="{% url 'basicapp:redtide_prediction' %}" class="btn btn--orange">　赤潮の予報を見る　</a></li>
            <li><a href="{% url 'basicapp:share_place' %}"        class="btn btn--orange">赤潮の情報を共有</a></li>
            <li><a href="{% url 'basicapp:redtide_observe' %}"    class="btn btn--orange">　赤潮の観測を見る　</a></li>
        </ul>
    </div>
</body>

</html>

{% endblock %}