{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inquiry.css' %}">
    {% block title %}
    お問い合わせページ
    {% endblock %}
</head>

{% block contents %}

<body>
    <!-- <div class="inquiry">
        <h1>お問い合わせ</h1>
    </div> -->
    <div class="box">
        <h2>お問い合わせ</h2>
    </div>
    <form action="index.html" method="get">
        <!-- <textarea name="comment" cols="40" rows="9" maxlength="180"></textarea> -->
        <textarea name="comment" maxlength="180" class="inquiry-form"></textarea>
        <input type="submit" class="send" value="送信する">
    </form>
</body>
</html>

{% endblock %}