{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/p_poricy.css' %}">
    {% block title %}
    プライバシーポリシー
    {% endblock %}
</head>

{% block contents %}

<body>
    <div class="p_poricy">
        <h1>プライバシーポリシー</h1>
    </div>
    <h2>テスト</h2>
</body>
</html>

{% endblock %}