{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}">
    {% block title %}
    パスワードリセットページ
    {% endblock %}
</head>

{% block contents %}

<body>
    <div class="reset">
        <h1>パスワードリセット</h1>
    </div>
    <div align="center">
        <table border="0">
            <form action="password_reset.html" method="get">
                <tr>
                    <td>
                        <input type="text" name="user_id" placeholder="メールアドレス入力欄" size="24" class="add">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="上記メールアドレス宛にパスワードリセットコードを送信" class="send">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>

{% endblock %}