{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/redtide_report.css' %}">
    {% block title %}
    赤潮報告
    {% endblock %}
</head>

{% block contents %}

<body>
    <h1>赤潮報告</h1>
    <div align="center">
        <table border="0">
            <form action="index.html" method="get">
                <tr>
                    <td>
                        <input type="text" name="user_id" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="報告する" class="button">
                    </td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>

{% endblock %}