{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/redtide_report.css' %}">
    {% block title %}
    赤潮報告
    {% endblock %}
</head>

{% block contents %}

<body style="margin-top: 250px;">
    <h1 style="text-align: center;">赤潮報告</h1>
    <div align="center">
        <table border="0">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit">作成</button>
            </form>
        </table>
        <div style="margin-top: 60px;">
            <a href="{% url 'basicapp:share_list' %}">現在共有されている赤潮を見に行く</a>
        </div>
    </div>
</body>
</html>

{% endblock %}