{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block title %}
    赤潮観測ページ
    {% endblock %}
</head>

{% block contents %}

<body>
    <header>

        <div class="menu">
            
                <a href="{% url 'basicapp:index' %}" class = "login login--orange">トップページへ戻る</a>
                <a href="{% url 'basicapp:index' %}" class = "login login--orange">日付選択</a>
                <a href="{% url 'basicapp:index' %}" class = "login login--orange">エリアを選択</a>
            
        </div>
    </header>
</body>
</html>

{% endblock %}