{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block title %}
    エリア選択画面
    {% endblock %}
</head>

{% block contents %}

<body>
    <header>
        <div class="menu">
            <ul>
                <li><a href="{% url 'basicapp:index' %}">トップページへ戻る</a></li>
            </ul>
        </div>
    </header>
    <div class="place">
        <h2>地図表示エリア</h2>
    </div>
</body>
</html>

{% endblock %}