{% load static %}
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>共有場所選択</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6yLIVyBNwV5blyahTFg152e5Fa663A6s&callback=initMap">
        </script>
    <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
</head>
<header>
    <!-- トップページへ戻る -->
    <div>
        <a href="{% url 'basicapp:index' %}"><h3>トップへ</h3></a>
    </div>
    <div>
        <a href="{% url 'basicapp:share_list' %}"><h3>現在共有されている赤潮を見に行く</h3></a>
    </div>
</header>

<body onload="initialize()">
    <div id="map" style="width:900; height: 450; margin-top: 80px;"></div>
</body>

</html>