{% extends 'basic/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    {% block title %}
    会員登録
    {% endblock %}
</head>

{% block contents %}

<body>
    <h1>会員登録</h1>
    <div align="center">
        <table border="0">
            <!-- <form action="login.html" method="get">
                <tr>
                    <td>
                        <input type="text" name="user_id" placeholder="お名前を入力してください" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="user_id" placeholder="メールアドレスを入力してください" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="user_id" placeholder="パスワード(8文字以上)" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="user_id" placeholder="パスワード(再入力)" size="24">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="報告する" class="button">
                    </td>
                </tr> -->
            <!-- </form> -->
            <form method="POST" action="{% url 'basicapp:sign_up' %}">
                {% csrf_token %}
                <label>メールアドレス</label>
                {{ form.username }}
                {{ form.username.errors }}
                <label>パスワード</label>
                {{ form.password1 }}
                <!-- {{ form.password1.errors }} -->
                <label>パスワード(確認)</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
                <button type="submit">登録</button>
            </form>
        </table>
    </div>
</body>

</html>

{% endblock %}